@media screen and (min-width: 20cm) {
	#warning {
		visibility: hidden;
		background-color: rgba(255, 255, 0,0.8);
	}
}

#warning {
	position: absolute;
	display: block;
	
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	z-index: 100000;
	
	background-color: rgba(255, 255, 255,0.8);
}

#warningWindow{
	position: absolute;
	display: block;
	
	left: calc(50% - (80%/2));
	top: calc(50% - (80%/2));

	width:80%;
	height:80%;
	
	background-color: rgba(255, 255, 255,0.8);
	border: 3px solid black;
}