/*==================================================================================
Sommaires css
==================================================================================*/
#sommaireTab{
	transition: 2s;
	position: absolute;
	display: block;
	height: calc( 100% );

	width: 25%;
	
	left: calc( -25% + var(--marginPage) / 2 );

	top: 0px;
	height: 100%;

	padding: 0px;
	cursor: pointer;

	overflow: hidden;
	background-color: DarkSlateGrey;

	/*
	debug out this 
	left: 0px;
	*/
}

.sommaireRight{
	left: calc( 100% - var(--marginPage) / 2 );
}

#sommaireTab:hover{
	left: 0px;
}

#sommaireTitre{
	position: absolute;
	
	top: 10px;
	right: -10px;
	width: calc( var(--marginPage) / 2 );
	height: 100%;

	/*
	border: solid 1px white;
	*/
}

#sommaireTitre p{
	writing-mode: vertical-lr;
	text-orientation: sideways;
	transform : rotate(180deg);
	
	color: white;
	font-family: "FFaune";
	line-height: 1.1em;
	font-size: 1.5em;
	font-weight: normal;
	
	left: 10px;

	padding: 0;
	margin: 0;
}

#sommaire {
	position: absolute;
	display: block;
	
	top: 10px;
	left: 10px;
	right: calc(var(--marginPage)/2 + 10px);
	bottom: 10px;

	overflow-y: scroll;
	padding: 10px;

	font-family: "FFaune";
	color: white;

	border: 1px solid rgba(255, 255, 255,0);
}

#sommaire a {
	color: white;
}

#sommaire a:link 
{ 
 text-decoration:none; 
}

#sommaire a:hover{
	text-decoration:underline; 
}

#sommaire h1 {
	color: white;
	font-family: "FFaune";
	font-size: 30px;
	font-weight: normal;
}
/*----------------------------------------------------------------
	CONTENT 1 2 ET 3
----------------------------------------------------------------*/
#sommaire .Contents1 a{
	position: relative;
	margin-top : 10px;
	padding-left: 0 0 0 10px;
	font-family: "FFaune";
	font-size: 24px;
	/*
	background-color: rgba(0, 0, 0, 0.3);
	*/
}
#sommaire .Contents2 a{
	position: relative;
	padding-left: 0 0 0 10px;
	font-family: "FFaune";
	font-size: 20px;
	/*background-color: rgba(0, 0, 0, 0.3);
	*/
}
#sommaire .Contents3 a{
	position: relative;
	padding-left: 0 0 0 10px;
	font-family: "FFaune";
	font-size: 14px;
	/*background-color: rgba(0, 0, 0, 0.3);
	*/
}
#sommaire .Contents4 a{
	position: relative;
	padding-left: 0 0 0 10px;
	font-family: "FFaune";
	font-size: 12px;
	/*background-color: rgba(0, 0, 0, 0.3);
	*/
}
/*----------------------------------------------------------------
	LVL 3
----------------------------------------------------------------*/
#sommaire .lvl3 {
	font-family: "FFaune";
	/*
	font-family: helvetica, arial, sans-serif;
	background-color: rgba(0, 0, 0, 0.1);
	*/
	padding: 0px;
	display: block;
	transition: 3s;
	height:0%;
	max-height: 20px;
	overflow: hidden;
}

#sommaire .lvl3:hover{
	display: block;
	height: 100%;
	max-height: 2000px;
	overflow: hidden;
}

ul{
	overflow: hidden;
}

/*----------------------------------------------------------------
	GESTION DE ECARTS
----------------------------------------------------------------*/
#sommaire .lvl1 {
	margin-top: 5px;
	margin-bottom: 5px;
}
#sommaire .lvl2 {
	margin-top: 5px;
	margin-bottom: 5px;
}
#sommaire .lvl3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

#sommaire .lvl3:before {
	display: block;
	position: absolute;
    content: "\00BB";
    padding-left: 20px;
}

