/* CSS files add styling rules to your content */

body {
	width: auto;
	/*ajouté par Fab*/
	font-family: helvetica, arial, sans-serif;
	margin: 0em;
	padding: 0em;
	overflow: hidden;
}

/*
h1 {
  color: #373fff;
}
*/

#main{
	position: absolute;
	display: block;

	padding: 0px;
	margin: 0px;

	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
	overflow: hidden;
}


#these {
	position: absolute;
	display: block;

	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 50%;
	/*500px,*/

	padding: 0px;
	height: 100%;

	background-color: white;
	/*rgb(200, 200, 200);*/
}

#these #frameThese {
	position: absolute;
	display: block;

	top: 10px;
	left: 20px;
	right: 10px;
	bottom: 10px;

	padding: 10px;

	overflow-y: auto;
	overflow-x: hidden;

	background-color: white;
	/*rgb(240, 240, 230);*/

	/*border:1px solid black;
  */
}


#expoImage {
	position: absolute;
	display: block;

	top: 10px;
	right: 10px;
	bottom: 10px;
	width: calc(50% - 10px);

	padding: 0px;

	overflow: hidden;

	background-color: rgb(210, 210, 210);
	/*
	background-color: rgb(210, 0, 0);
	*/
}

/*==================================================================================
Sommaires css
==================================================================================*/
/*==================================================================================
SOMMAIRE
==================================================================================*/
#sommaireTab{
	transition: 1s;
	position: absolute;
	display: block;
	height: calc( 100% );

	width: 25%;
	
	left: calc( -25% + var(--marginPage) / 2 );

	top: 0px;
	height: 100%;

	padding: 0px;
	cursor: pointer;

	overflow: hidden;
	background-color: DarkSlateGrey;
}

.sommaireRight{
	left: calc( 100% - var(--marginPage) / 2 );
}

#sommaireTab:hover{
	left: 0px;
}

#sommaireTitre{
	position: absolute;
	
	top: 10px;
	right: -10px;
	width: calc( var(--marginPage) / 2 );
	height: 100%;

	/*
	border: solid 1px white;
	*/
}

#sommaireTitre p{
	writing-mode: vertical-lr;
	text-orientation: sideways;
	transform : rotate(180deg);
	
	color: white;
	font-family: "FFaune";
	line-height: 1.1em;
	font-size: 1.5em;
	font-weight: normal;
	
	left: 10px;

	padding: 0;
	margin: 0;
}

#sommaire {
	position: absolute;
	display: block;
	
	top: 10px;
	left: 10px;
	right: calc(var(--marginPage)/2 + 10px);
	bottom: 10px;

	overflow-y: scroll;
	padding: 10px;

	font-family: "FFaune";
	color: white;

	border: 1px solid rgba(255, 255, 255,0);
}

#sommaire a {
	color: white;
}

#sommaire a:link 
{ 
 text-decoration:none; 
}

#sommaire a:hover{
	text-decoration:underline; 
}

#sommaire .lvl3 {
	font-family: "FFaune";
	/*font-family: helvetica, arial, sans-serif;*/
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.3);
}

#sommaire h1 {
	color: white;
	font-family: "FFaune";
	font-size: 30px;
	font-weight: normal;
}

/*
#sommaire .Contents3 {
	font-family: "FFaune";
	background-color: rgba(0, 0, 0, 0.3);
	color: red;
}
*/

#sommaire .Contents1 a{
	position: relative;
	margin-top : 10px;
	padding-left: 0 0 0 10px;
	font-family: "FFaune";
	font-size: 24px;
	/*
	background-color: rgba(0, 0, 0, 0.3);
	*/
}
#sommaire .Contents2 a{
	position: relative;
	padding-left: 0 0 0 10px;
	font-family: "FFaune";
	font-size: 20px;
	/*background-color: rgba(0, 0, 0, 0.3);
	*/
}
#sommaire .Contents3 a{
	position: relative;
	padding-left: 0 0 0 10px;
	font-family: "FFaune";
	font-size: 14px;
	/*background-color: rgba(0, 0, 0, 0.3);
	*/
}
#sommaire .Contents4 a{
	position: relative;
	padding-left: 0 0 0 10px;
	font-family: "FFaune";
	font-size: 12px;
	/*background-color: rgba(0, 0, 0, 0.3);
	*/
}




#sommaire .lvl3{
	display: block;
	transition: 1s;
	height:0%;
	max-height: 20px;
	overflow: hidden;
	background-color: rgb(255, 255, 0,);
}
#sommaire .lvl3:hover{
	display: block;
	height: 100%;
	max-height: 2000px;
	overflow: hidden;
}

ul{
	overflow: hidden;
}

/*==================================================================================
Galerie css
==================================================================================*/
#galerie {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.9);

	overflow: hidden;

	/*
	border:solid 2px green;
	*/

	visibility: hidden;
	z-index: 9999999;
}

#galerie #subGalerie {
	position: absolute;
	left: 20px;
	right: 340px;
	top: 20px;
	bottom: 20px;

	overflow: hidden;

	/*
	border:solid 2px red;
	*/

	background-color: rgba(0, 0, 0, 0);
}

#galerieIMG {
	position: absolute;
}
/*==================================================================================
GalerieVideo css
==================================================================================*/
#galerieVideo {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.9);

	overflow: hidden;

	visibility: hidden;
	z-index: 9999999;
}

#galerieVideo #subGalerieVideo {
	position: absolute;
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 20px;

	overflow: hidden;
	/*
	border:solid 2px red;
	*/
	background-color: rgba(0, 0, 0, 0);
}

#galerieVIDEO {
	position: absolute;
}
/*==================================================================================
Legende css
==================================================================================*/
#legende {
	position: absolute;

	margin: 0px;
	padding: 5px;

	font-family: "FFaune";
	font-size: 1.1em;

	border: solid 0px grey;
	color: white;

	overflow-y: auto;
	overflow-x: hidden;

	width: 250px;
	top: 20px;
	bottom: 20px;
	right: 40px;
}

#legende a:link{
	transition:0.2s;
	color: white;
	padding-left: 2px;
	padding-right: 2px;
}
#legende a:visited{
	color: white;
}
#legende a:hover{
	color: black;
	border-radius: 2px;
	background-color: white;
}
#legende #subLegende {
	margin: 0px;
	padding: 0px;
}

/*==================================================================================
debug
==================================================================================*/
#debug{
	position: absolute;
	display: block;

	height: 30%;
	width: 300px;
	
	bottom: 0px;
	right: 50px;

	z-index: 100000;
	background-color: rgba(0,0,0,0.7);

	visibility: hidden;

	border: 1px solid rgba(255,255,255,0.5);

	padding-left: 5px;
	padding-right: 5px;
}

#debug p{
	color:#fff;
	font-family: monospace;
	font-size: 11px;
}

.textExpo{
	position: absolute;
	display: block;
	min-width: 50px;
	max-width: 200px;
	width: auto;
	height: auto;
	margin: 5px;
	padding: 10px;

	z-index: 10000;

	background-color: rgba(0,0,0,0.7);
	color: white;
	font-family: "FFaune";
	font-size: 1.1em;
}