/* -------------------------------------------------------------  
SUPERPOSITION ELEMENT
-------------------------------------------------------------  */
.superpositionElement{
	width: 340px;
	height: 40px;

	background-color: rgba(0, 0, 0);
}

.superpositionElement img{
	position: absolute;
	width: 300px;
	bottom: 20px;
	left: 20px;
}

/* -------------------------------------------------------------  
EXPLORATION ELEMENT
-------------------------------------------------------------  */
.explorationElement{
	position: relative;
	display: inline-block;
	
	width: 80%;
	height: auto;

	min-height: 50px;

	border: 8px solid black;
	overflow: hidden;
	background-color: rgba(0, 0, 0);
}

.explorationElement img{
	position: absolute;
	/*
	object-fit: contain;
	*/
	width: 100%;
	max-width: 100%;
    max-height: 100%;
}

/* -------------------------------------------------------------  
CLASSQUE ELEMENT
-------------------------------------------------------------  */
